.swiper-slide.slide-bg(style='background:url(images/bg/4s.jpg)')
	.container
		// Page-title
		.page-title
			.content
				h2
					| About 
					span Me
				.clearfix
				p
					| I offer affordable web & mobile design, graphic design and Internet services to individuals, small businesses and organisations around the world. I believe that everybody deserves inspiring, creative websites even though their budgets may not match their ambition in size. I will not stop at this...
				.clearfix
				.color-separator
				.clearfix
			.overlay
		// section top about
		section.gray-bg.subab
			.content
				.row-fluid
					.span4
						p
							strong Creative Design
						.clearfix
						.color-separator
						.clearfix
						p
							| I will design a creative, unique and bespoke website for you. I can create any page be it homepage for new website, inner page, designing a landing page, or redesigning an existing webpage.
					.span4
						p
							strong Web Development
						.clearfix
						.color-separator
						.clearfix
						p
							| You are determined to change the world with your business, so am I. You are at the right place for all your web development needs. Let your worries be mine and take rest. Don't wait, let's discuss and start your project!
					.span4
						p
							strong E-Commerce
						.clearfix
						.color-separator
						.clearfix
						p
							| To make sure I reflect the ‘look and feel’ of your brand overonline channels, I provide customised solutions to fulfill your individual requirements. Combining the best-practice experience of multiple online shops for my clients across the Fashion, Luxury, FMCG and Beauty markets.
		// section about
		section#about
			.left-colum
				// about slider nav
				span.about-button.show-about.cur
					i.fa.fa-user
					span.tooltip About
				span.about-button.show-res
					i.fa.fa-rocket
					span.tooltip Skills
				span.about-button.show-ser
					i.fa.fa-cogs
					span.tooltip Services
				.about-slider-holder
					// about slider
					#about-slider
						// 1
						.item
							.item-box
								h3 Andrei Kamarou
								h4 WEBDESIGNER & WEB DEVELOPER FROM BELARUS
								.clearfix
								.float-separator
								.clearfix
								p
									| Hi! My name is Andrei and I'm a web designer / developer based in Gomel, Belarus. I have a passion for web design and love to create for web and mobile devices. Also I'm a high level graphic designer and Ican help you with corporate branding (including logo design), UI design for any kind of applications and web design. I'm a developer, so I know how to create your website to run across devices using the latest technologies available.
								p
									| I like to take part in new and unusual projects. On every project I'm doing better than the last and always learn something new while implementing these skills in my work. If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch. I love what I do because I do what I love!
								.clearfix
								a.button.gw.float-button.content-button.transition.hide-icon(href='#')
									i.fa.fa-angle-right.transition2
									span.text.transition.color-bg My work
						// 2
						.item
							.item-box
								h3 My skills
								.clearfix
								.float-separator
								.clearfix
								.custom-skillbar-holder
									.skillbar-box.animaper
										// skill 1
										.custom-skillbar-title
											span Photoshop/Illustrator
										.skill-bar-percent 95%
										.skillbar-bg(data-percent='95%')
											.custom-skillbar
										// skill 2
										.custom-skillbar-title
											span HTML5
										.skill-bar-percent 90%
										.skillbar-bg(data-percent='90%')
											.custom-skillbar
										// skill 3
										.custom-skillbar-title
											span CSS3
										.skill-bar-percent 98%
										.skillbar-bg(data-percent='98%')
											.custom-skillbar
										// skill 2
										.custom-skillbar-title
											span JavaScript
										.skill-bar-percent 75%
										.skillbar-bg(data-percent='75%')
											.custom-skillbar
										// skill 3
										.custom-skillbar-title
											span PHP
										.skill-bar-percent 55%
										.skillbar-bg(data-percent='55%')
											.custom-skillbar
						// 3
						.item
							.item-box
								h3 Services
								.clearfix
								.float-separator
								.clearfix
								.services-holder
									ul
										// services-link
										li.transition2
											a(href='#serv-pop1', data-ser='modal')
												i.fa.fa-puzzle-piece.transition
												h5
													span Web Design
										// services-link
										li.transition2
											a(href='#serv-pop2', data-ser='modal')
												i.fa.fa-hdd-o.transition
												h5
													span Coding
										// services-link
										li.transition2
											a(href='#serv-pop3', data-ser='modal')
												i.fa.fa-tablet.transition
												h5
													span Responsive
										// services-link
										li.transition2
											a(href='#serv-pop4', data-ser='modal')
												i.fa.fa-pencil-square-o.transition
												h5
													span Graphic Design
										// services-link
										li.transition2
											a(href='#serv-pop5', data-ser='modal')
												i.fa.fa-mobile.transition
												h5
													span App Design
										// services-link
										li.transition2
											a(href='#serv-pop6', data-ser='modal')
												i.fa.fa-picture-o.transition
												h5
													span Branding
									// services - box
									#serv-pop1.services-info
										.serv-overlay
										.row-fluid
											.span3
												i.fa.fa-puzzle-piece
												h2 Web Design
											.span9
												p
													| I will design a creative, unique and bespoke website for you. I can create any page be it homepage for new website, inner page, designing a landing page, or redesigning an existing webpage.
									// services - box
									#serv-pop2.services-info
										.serv-overlay
										.row-fluid
											.span3
												i.fa.fa-hdd-o
												h2 Coding
											.span9
												p
													| If you need anything to be done regarding HTML5, CSS3, WordPress, Shopify website, you're on right place. I can do html/css website from scratch, psd to html, modify html, modify CSS, website Builders.
									// services - box
									#serv-pop3.services-info
										.serv-overlay
										.row-fluid
											.span3
												i.fa.fa-tablet
												h2 Responsive
											.span9
												p The sites will be adaptive for any devices (responsive, user and SEO friendly).
									// services - box
									#serv-pop4.services-info
										.serv-overlay
										.row-fluid
											.span3
												i.fa.fa-pencil-square-o
												h2 Graphic Design
											.span9
												p
													| I will design SUPER awesome flat illusrations. Need icons for your new application, for your new website? You need a poster? Looking for someone to create your logo? I'm here!
									// services - box
									#serv-pop5.services-info
										.serv-overlay
										.row-fluid
											.span3
												i.fa.fa-mobile
												h2 App Design
											.span9
												p
													| Do you want to convert your ideas into real mobile applications? I will make any type of design app for you. You just need to mention your basic idea and the requirements that need to be implemented.
									// services - box
									#serv-pop6.services-info
										.serv-overlay
										.row-fluid
											.span3
												i.fa.fa-picture-o
												h2 Branding
											.span9
												p
													| I like to work in brand Designing, Business Card, Social Media Covers & Banners. You can hire me for any works related to Graphics Design. Looking forward to work with you!
			.right-colum
				// about image slider
				.about-image
					.customNavigation
						a.btn.next-slide.transition
							i.fa.fa-angle-right
						a.btn.prev-slide.transition
							i.fa.fa-angle-left
					.about-image-slider.owl-carousel
						.item
							img.respimg(src='images/about/I1.jpg', alt='Andrei')
						.item
							img.respimg(src='images/about/I2.jpg', alt='')
						.item
							img.respimg(src='images/about/I3.jpg', alt='')
						.item
							img.respimg(src='images/about/I4.jpg', alt='')
		// section facts
		section#facts
			.content
				.facts.row-fluid
					ul
						// fact 1
						li.span3
							h6  Projects completed
							.num 67
						// fact 2
						li.span3
							h6  Websites published
							.num 39
						// fact 3
						li.span3
							h6 Tweets
							.num 1159
						li.span3
							h5  Some facts 
		// section twitter
		section#twitteritem
			.overlay.op8
			.bg(style='background:url(images/bg/twitter.jpg)')
			.content
				.twitter-holder
					h3 My twitts
					.customNavigation
						a.btn.next-slide.transition
							i.fa.fa-angle-right
						a.btn.prev-slide.transition
							i.fa.fa-angle-left
					.clearfix
					.twitts
						.twitter-feed
							// Twitter Slider
							#twitter-feed
					.clearfix
					h4
						| More Twitts on 
						a(href='https://twitter.com/mrAkomarov', target='_blank') My account
		// section resume
		section#resume
			.resume-title-holder
				.resume-title
					h4 My resume
				.download-botton-holder
					a.button.content-button.transition.hide-icon(href='#')
						i.fa.fa-download.transition2
						span.text.transition.color-bg Download resume
			.resume-container
				.resume-bg
					.bg.transition(style='background:url(images/bg/craneglee.jpg)')
					.overlay.op8.transition
				// resume-head
				.resume-head
					h3 Work in "Craneglee Design"
					h4 2015-2016
				.resume-box-holder
					.resume-box.transition
						.resume-item Designer
						.clearfix
						h6 Design / Integration
						.clearfix
						.color-separator
						.clearfix
						p.align-text
							| In this company I worked as a web designer. I created the design of sites and mobile applications. I also developed layouts for websites with programming. I discussed projects with customers and directed projects.
			.resume-container
				.resume-bg
					.bg.transition(style='background:url(images/bg/profits.jpg)')
					.overlay.op8.transition
				// resume-head
				.resume-head
					h3 Work in "Profits design"
					h4 2016-Present
				.resume-box-holder
					.resume-box.transition
						.resume-item Owner / Designer & Front-End Developer
						.clearfix
						h6 Development / Design / Integration
						.clearfix
						.color-separator
						.clearfix
						p.align-text
							| I am the owner of the web studio "Profits design". I create design and develop web sites and mobile applications. Also I create a graphic design (illustrations, logos, icons, advertising banners, booklets, branding, etc.). I'm open to hiring. In my team I need professional designers and programmers. Your resume can be sent to my email address. I will consider all the proposals.
		// section testimonials
		section#testimonials
			.overlay.op8
			.bg(style='background:url(images/bg/1.jpg)')
			.content
				.testimonials-holder
					h3 Testimonials
					.customNavigation
						a.btn.next-slide.transition
							i.fa.fa-angle-right
						a.btn.prev-slide.transition
							i.fa.fa-angle-left
					.clearfix
					#testimonials-slider.owl-carousel
						.item
							.row-fluid
								.span2
									.testi-image
										img.respimg(src='images/testim/larry.jpg', alt='Larry Robinson')
								.span10
									h4 Garry Robinson - Sharp Eye Digital
									p
										| " Andrei has been great to work with. He can take my designs and place them online with ease. I feel this to be a long-term experience. "
									br
									a(href='https://www.sharpeyedigital.com/') Go to web site
									.clearfix
									a.testi-link(href='https://www.upwork.com/fl/andreikamarou') Open all testimonials
						.item
							.row-fluid
								.span2
									.testi-image
										img.respimg(src='images/testim/lubimova.jpg', alt='Ekaterina Lubimova')
								.span10
									h4 Ekaterina Lubimova - Sex Instructor
									p
										| " Andrei was doing a big web site with blog and online payments for me. And all sides of his work are great. I hope we will have another cooperation in the future. "
									br
									a(href='https://www.ekaterinalubimova.com/') Go to web site
									.clearfix
									a.testi-link(href='https://www.upwork.com/fl/andreikamarou') Open all testimonials
						.item
							.row-fluid
								.span2
									.testi-image
										img.respimg(src='images/testim/abel.jpg', alt='')
								.span10
									h4 Abel De La Torre - IBBankers
									p
										| " Andrei is an exceptional worker. Have high ethics, moral and creativity. He helps you during the whole process and is very flexible and communicative. We are very happy with his work. "
									br
									a(href='https://www.ibbankers.com/') Go to web site
									.clearfix
									a.testi-link(href='https://www.upwork.com/fl/andreikamarou') Open all testimonials
				.clearfix
		// section clients
		section#clients
			.clients-holder
				#clients-slider.owl-carousel
					.item
						img.respimg(src='images/clients/1.png', alt='ibbankers')
					.item
						img.respimg(src='images/clients/5.png', alt='')
					.item
						img.respimg(src='images/clients/3.png', alt='')
					.item
						img.respimg(src='images/clients/4.png', alt='')
					.item
						img.respimg(src='images/clients/2.png', alt='')
			.to-top-holder.gray-bg
				a.button.scroll-btn.content-button.transition.hide-icon(href='#')
					i.fa.fa-angle-up.transition2
					span.text.transition.color-bg To top
// about end
