// ================= Home start ================
.swiper-slide
	#slides
		ul.slides-container
			// Slide 1
			li
				.slides-fullscreen-img(style="background-image: url('images/bg/1s.jpg');")
			// Slide 2
			li
				.slides-fullscreen-img(style="background-image: url('images/bg/2s.jpg');")
			// Slide 3
			li
				.slides-fullscreen-img(style="background-image: url('images/bg/3s.jpg');")
	// Slider end
	.overlay
	.container
		section.homeholder.no-bg
			#home.content
				h2.elem Hi ! I am    Andrei   Kamarou
				.home-separator
					span
				.tetx-rotator
					.tlt
						ul.texts
							li Creative Designer
							li Talented Developer
							li Good man :)
				a.button.start-button.transition.hide-icon(href='#')
					i.fa.fa-angle-right.transition2
					span.text.transition.color-bg Let's Start
			.clearfix
		footer
			.row-fluid
				.span6
					.contact-info
						ul
							li
								i.fa.fa-phone
								a.transition(href='#') +375(29)232 22 52
							li
								i.fa.fa-envelope-o
								a.transition(href='#') mr.akomarov@icloud.com
							li
								i.fa.fa-home
								a.transition(href='#') Belarus, Gomel
				.span6
					.social-list
						ul
							li
								a.transition.elem(href='https://www.facebook.com/profitsby', target='_blank')
									i.fa.fa-facebook
							li
								a.transition.elem(href='https://vk.com/akomarov1980', target='_blank')
									i.fa.fa-vk
							li
								a.transition.elem(href='https://www.linkedin.com/in/andrei-kamarou-a35407116', target='_blank')
									i.fa.fa-linkedin
							li
								a.transition.elem(href='https://twitter.com/mrAkomarov', target='_blank')
									i.fa.fa-twitter
							li
								a.transition.elem(href='https://www.instagram.com/akomaroff', target='_blank')
									i.fa.fa-instagram
							li
								a.transition.elem(href='https://www.behance.net/akomarov', target='_blank')
									i.fa.fa-behance