#custom-content.white-popup-block
  .project-holder
    span.popup-modal-dismiss.transition
      i.fa.fa-times
    .media-content
      #project-slider.owl-carousel
        .item
          img.respimg(src='images/folio/aztecalogo01.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo02.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo03.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo04.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo05.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo06.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo07.jpg')
        .item
          img.respimg(src='images/folio/aztecalogo08.jpg')
    .clearfix
    .project-discription
      h2 Azteca Lighting Logo
      h4.margin Logo / Illustration
      p
        | I created a logo for the company "Azteca Lighting" which is located in New York. The company sells and installs lighting equipment. I developed several variants of the logo from which the customer chose one. It was a very interesting project.
      a.button.float-button.content-button.transition.hide-icon(href='http://aztecalight.com')
        i.fa.fa-angle-right.transition2
        span.text.transition.color-bg Launch project