.item-data.project-page
  .content
    .prject-ajax-box
      .left-colum.elemajax
        #project-slider.owl-carousel
          .item
            img.respimg(src='../images/folio/bathright01.jpg')
          .item
            img.respimg(src='../images/folio/bathright02.jpg')
          .item
            img.respimg(src='../images/folio/bathright03.jpg')
          .item
            img.respimg(src='../images/folio/bathright04.jpg')
          .item
            img.respimg(src='../images/folio/bathright05.jpg')
          .item
            img.respimg(src='../images/folio/bathright06.jpg')
      .right-colum.elemajax
        .project-discription
          h3 Bathright
          h4 Web design / Web development
          p
            | I created a design for the company "Bathright" (London) which sells and installs equipment for bathrooms. It was a one-page website that advertises services and goods. The client was very pleased with my work.
          br
          i
            | "Andrei designed an amazing website, very quickly, extremely professional. He is very innovative, and the job was done quickly. Thank you for your work on the project."
          br
          p.author
            | David Jackson
          a.button.float-button.content-button.transition.hide-icon(href='http://bathright.co.uk', target='_blank')
            i.fa.fa-angle-right.transition2
            span.text.transition.color-bg Launch project