.item-data.project-page
  .content
    .prject-ajax-box
      .left-colum.elemajax
        #project-slider.owl-carousel
          .item
            img.respimg(src='../images/folio/interdezign01.jpg')
          .item
            img.respimg(src='../images/folio/interdezign02.jpg')
          .item
            img.respimg(src='../images/folio/interdezign03.jpg')
          .item
            img.respimg(src='../images/folio/interdezign04.jpg')
          .item
            img.respimg(src='../images/folio/interdezign05.jpg')
      .right-colum.elemajax
        .project-discription
          h3 Inter Dezign
          h4 Web design / Web development
          p
            | I created a design and layout for the design studio "Interdezign" which is located in Miami, USA. The site was created on the Webflow platform. My client wanted to get a bright and dynamic website for advertising his services.
          br
          i
            | "Andrei is excellent, very detail oriented. He has great communication and very easy to work with. Did a great job! Excellent work."
          br
          p.author
            | Aaron Wilds
          a.button.float-button.content-button.transition.hide-icon(href='http://interdezign.webflow.com', target='_blank')
            i.fa.fa-angle-right.transition2
            span.text.transition.color-bg Launch project