#custom-content.white-popup-block
  .project-holder
    span.popup-modal-dismiss.transition
      i.fa.fa-times
    .media-content
      #project-slider.owl-carousel
        .item
          img.respimg(src='images/folio/redround01.jpg')
        .item
          img.respimg(src='images/folio/redround02.jpg')
        .item
          img.respimg(src='images/folio/redround03.jpg')
        .item
          img.respimg(src='images/folio/redround04.jpg')
    .clearfix
    .project-discription
      h2 Red Round
      h4.margin Logo / Illustration
      p
        | The company "Red Round" is located in Russia (Moskow) and manufactures and sells clothes for young people. The client asked me to create a logo. I made several variants of the logo.