.item-data.project-page
	.content
		.prject-ajax-box
			.left-colum.elemajax
				#project-slider.owl-carousel
					.item
						img.respimg(src='images/folio/speedyvenues01.jpg')
					.item
						img.respimg(src='images/folio/speedyvenues02.jpg')
					.item
						img.respimg(src='images/folio/speedyvenues03.jpg')
					.item
						img.respimg(src='images/folio/speedyvenues04.jpg')
			.right-colum.elemajax
				.project-discription
					h3 Speedyvenues
					h4 Web design / Web development
					p
						| In this project I created the design and programming of the layout for the Indian service. The purpose of this site was to provide information about restaurants and events in India. On this site you can find out the price and book a hall for the celebration.
					br
					i
						| "Very good and efficient developer. Understands requirements and does exactly what you want. Understands english well enough to communicate/ comprehend.
						| Would definitely use his services again"
					br
					p.author
						| Ankush Chadda
					a.button.float-button.content-button.transition.hide-icon(href='http://www.speedyvenues.com/details/hotel-royale-residency-agra', target='_blank')
						i.fa.fa-angle-right.transition2
						span.text.transition.color-bg Launch project
